<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/imageslider.css}" href="../../static/css/imageslider.css" rel="stylesheet" type="text/css"  />
    <link th:href="@{/css/threei.css}" href="../../static/css/threei.css" rel="stylesheet" type="text/css"  />

</head>

<body>
<div th:fragment="footer1">
 <!--
    <div class="container">
        <footer1>
            <div class="foot_content">
                <a style="text-decoration: none; color: white;" href="/">HOME</a>
                <a style="text-decoration: none; color: white;" href="/data">DATA</a>
                <a style="text-decoration: none; color: white;" href="/analysis">ANALYSIS</a>
                <a style="text-decoration: none; color: white;" href="/methods">METHODS</a>
                <a style="text-decoration: none; color: white;" href="/contact">CONTACT</a>
                <a style="text-decoration: none; color: white;" href="/learnmore">LEARNMORE</a>
                <div  id="foot_list"> <ul>
                    <li>   <a style="text-decoration: none;color: white;" href="#">FAQ</a></li>
                    <li>   <a style="text-decoration: none;color: white;" href="#">Glossary</a></li>
                    <li>    <a style="text-decoration: none;color:white;" href="#">Publications</a> </li>
                     <!-- <li>Software v0.06 </li> -->
          <!--     </ul> </div>

            </div>
            <p class="textright" style="text-align: right;word-spacing: normal;">© 2017 Wellcome Trust Sanger Institute</p>
        </footer1>
    </div>-->


    <footer id="procedure">
         <div class="centercontent">
        <div class="foot_content" >
            <a style="text-decoration: none; color: white;" th:href="@{/}">HOME</a>
            <a style="text-decoration: none; color: white;" th:href="@{/data}">DATA</a>
            <a style="text-decoration: none; color: white;" th:href="@{/analysis}">ANALYSIS</a>
            <a style="text-decoration: none; color: white;" th:href="@{/methods}">METHODS</a>
            <a style="text-decoration: none; color: white;" th:href="@{/contact}">CONTACT</a>
            <a style="text-decoration: none; color: white;" th:href="@{/learnmore}">LEARNMORE</a>
            <div  id="foot_list"> <ul>
                <li>   <a style="text-decoration: none;color: white;" th:href="@{/faq}">FAQ</a></li>
                <li>   <a style="text-decoration: none;color: white;" th:href="@{/glossary}">Glossary</a></li>
                <li>    <a style="text-decoration: none;color:white;" th:href="@{/publications}">Publications</a> </li>
            </ul> </div>
        </div>
        <p class="textright" style="text-align: right;word-spacing: normal;font-size:12px">Software v1.0.9<br/></p>

         </div>
    </footer>
</div>
</body>
</html>