<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/imageslider.css}" href="../static/css/imageslider.css" rel="stylesheet" type="text/css"  />
    <link th:href="@{/css/threei.css}" href="../static/css/threei.css"  rel="stylesheet" type="text/css"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title> Phenotype of the month | 3i Consortium - Wellcome Trust Sanger Institute</title>
    <link rel="icon" type="image/png" href="images/index.ico">
</head>


<body id="top" class="html front not-logged-in one-sidebar sidebar-second page-home">
<th:block th:include="fragments/header::header"> </th:block>

<div id="wrapper">

    <div id="main">
        <!--Side bar Starts-->

        <p></p>
        <p><h1 style="font-size: 30px; color:#0978A1;"><b>Phenotype of the month</b></h1></p>
        <p></p>
        <p></p>
        <p><b style="font-size: 20px; color:#0978A1;">Chd9</b></p>
        <p></p>
        <p><h1>Chromodomain Helicase DNA Binding Protein 9</h1></p>
        <p><span><a href="http://www.mousephenotype.org/data/genes/MGI:1924001" target="_blank" >Data at IMPC</a></span></p>
        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Phenotype Summary:</b></h1></p>
        <p></p>
        <b>Epidermal Immune composition: </b>Increased Langerhans cells in males and females<br/>
        <b>Plasma Chemistry: </b>Decreased amylase in males and females, decreased albumin in males<br/>

        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Gene information:</b></h1></p>
        <ul style="list-style-type:disc">
            <li>Proposed role in chromatin remodelling</li>
            <li>Involved in transcriptional regulation of bone tissue differentiation</li>

        </ul>
        <p></p>
        <p><span><a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene=CHD9">Genecards</a> </span>&nbsp;

        </p>
        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Read more:</b></h1></p>
        <ul style="list-style-type:disc">
            <li> 1.Kent, RS.  et al. New face for Chromatin-Related Mesenchymal Modulator: n-CHD9 localizes to nucleoli and interacts with ribosomal genes. J Cell Physiol. 230, 2270-80.(2015) <br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/25689118" target="_blank">Pubmed Link</a></span></li>
            <li> 2.Kim, MS. et al. Genetic and expressional alterations of CHD genes in gastric and colorectal cancer. Histopathology 58, 660-8. (2011)  <br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/21447119" target="_blank">Pubmed Link</a></span></li>
            <li> 3.Shur, I.  et al. In vivo association of CReMM/CHD9 with promoters in osteogenic cells. J Cell Physiol. 207, 374-8. (2006)  <br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/16419031" target="_blank">Pubmed Link</a></span></li>

        </ul>

        <p></p>
        <p></p>



    </div>
</div>

<th:block th:include="fragments/footer::footer1"> </th:block>

</body>
</html>






