<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/imageslider.css}" href="../static/css/imageslider.css" rel="stylesheet" type="text/css"  />
    <link th:href="@{/css/threei.css}" href="../static/css/threei.css"  rel="stylesheet" type="text/css"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title> Clpp</title>
    <link rel="icon" type="image/png" href="images/index.ico">
</head>


<body id="top" class="html front not-logged-in one-sidebar sidebar-second page-home">
<th:block th:include="fragments/header::header"> </th:block>

<div id="wrapper">

    <div id="main">
        <!--Side bar Starts-->

        <p></p>
        <p><h1 style="font-size: 30px; color:#0978A1;"><b>Phenotype of the month</b></h1></p>
        <p></p>
        <p></p>
        <p><b style="font-size: 20px; color:#0978A1;">Clpp</b></p>
        <p></p>
        <p><h1>Caseinolytic Mitochondrial Matrix Peptidase Protolytic Subunit</h1></p>
        <p><span><a href="http://www.mousephenotype.org/data/genes/MGI:105303#section-associations" target="_blank" >Mice at IMPC</a></span></p>
        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Phenotype Summary:</b></h1></p>
        <p></p>
        <b>16 week PBL - </b>decreased γδ T cell percentage in females, increased KLRG1+ NK cells, increased number of B cells and mature B cells in females, increased monocytes in females<br/>
        <b>Spleen - </b> Increased KLRG1+ NK cells, increased monocytes, reduced NKT cells, reduced CD4+ NKT cells, increased CD4- NKT cells,  increased Transitional 2 B cells<br/>
        <b>MLN - </b>Increased monocytes<br/>
        <b>Bone Marrow - </b>Increased B cells, reduced granulocytes  <br/>
        <b>DSS - </b>Increased weight loss, increased mortality<br/>
        <b>Fertility - </b>Infertility in homozygous males and females<br/>
        <b>Haematology - </b>Increased white blood cell count in females, increased corpuscular colume in females, increased mean corpuscular haemoglobin in females<br/>
        <b>Plasma Chemistry - </b>Increased total bilirubin, decreased circulating glucose in males, decreased circulating amylase in males, increased circulating alkaline phosphatase in males, increased circulating iron in males<br/>
        <b>Indirect calorimetry (males tested only) - </b>Decreased oxygen consumption, abnormal energy expenditure<br/>
        <b>Insulin - </b>Decreased circulating insulin<br/>
        <b>Body composition - </b>Decreaed bone mineral density, decreased bone mineral content, decreased bone area, decreased body weight, decreased nose to tailbase length in females, reduced estimated total tissue mass, reduced lean mass, reduced fat mass<br/>
        <b>Auditory Brainstem response - </b>Abnormal Click ABR waveform shape<br/>
        <p></p>
        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Gene information:</b></h1></p>
        <ul style="list-style-type:disc">
            <li>Protease regulating protein levels through degradation</li>
            <li>Present in most bacteria and in the mitochondria of eukaryotic cells, encoded on chromosome 17 in mice and on chromosome 19 in humans</li>
            <li>Interacts with AAA+ chaperones which bind and unfold Clp P targets</li>
            <li>In human, biallelic pathogenic variations of Clpp cause Perrault Syndrome, a condition characterized by sensorineural hearing loss in both genders and ovarian dysfunction in females</li>
        </ul>
        <p></p>
        <p><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Genecards</a> </span>&nbsp;
            <span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">MGI</a></span>&nbsp;
            <span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">OMIM</a></span>&nbsp;

        </p>
        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Read more:</b></h1></p>
        <ul style="list-style-type:disc">
            <li>1. Maurizi, M.R. et al. Sequence and structure of Clp P, the proteolytic component of the ATP-dependent Clp protease of Escherichia coli. J Biol Chem 265, 12536-45 (1990)<br/><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Pubmed Link</a></span></li>
            <li>2. Yu, A.Y. and Houry, W.A.ClpP: a distinctive family of cylindrical energy-dependent serine proteases. FEBS Letters 581, 3749-57 (2007)<br/><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Pubmed Link</a></span></li>
            <li>3. Liu, K., Ologbenla, A., Houry, W.A. et al. Dynamics of the ClpP serine protase: a model for self-compartmentalized proteases. Crit Rev Biochem Mol Biol 49, 400-12 (2014)<br/><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Pubmed Link</a></span></li>
            <li>4. Newman W.G., Friedman T.B., Conway, G.S.Perrault Syndrome. Gene Reviews (2014)<br/><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Pubmed Link</a></span></li>
        </ul>

        <p></p>
        <p></p>



    </div>
</div>

<th:block th:include="fragments/footer::footer1"> </th:block>

</body>
</html>