<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/imageslider.css}" href="../static/css/imageslider.css" rel="stylesheet" type="text/css"  />
    <link th:href="@{/css/threei.css}" href="../static/css/threei.css"  rel="stylesheet" type="text/css"  />
    <title> Methods page</title>
</head>

<body>
<div  id="top" class="html front not-logged-in one-sidebar sidebar-second page-home">
    <th:block th:include="fragments/header::header"> </th:block>

    <div id="main" class="content">

        <div id="welcome" style="top:200px; font-size:30px" >
            <h1>Contact </h1>
        </div><br/>
        <p></p>
        <div id="region region-content" style="width:68%; float:left;">
            <div class="intro"><h2 style=" font-size:25px ">We are keen to hear from you. You can contact us via the emails on the institute websites or via the buttons on the right. </h2> </div>
            <p></p>
            <h3 style="font-size:30px"><u>3i Members</u></h3><p></p>
            <h3 style="font-size:20px"><b>Lucie Abeler-Dörner</b></h3>
            <p>Project Manager</p>
            <a href="mailto:lucie.abeler-dorner@kcl.ac.uk" style="text-decoration: none">Send email</a>
            <p></p>
            <hr/>
                <h3 style="font-size:20px"><b>Adrian Hayday, Lead PI</b></h3>
            <h1>King’s College London and London Research Institute</h1>
            <image th:src="@{/images/Contact-images/kings-college-london7744.png}" href="..static/contact-images/kings-college-london7744.png" width="200" height="46" style="float: right;margin-top: -40px;"  />
            <p></p>
            <p>Flow-cytometric analysis of spleen, mesenteric lymph node and bone marrow<br/>
            Microscopic analysis of immune cells in the ear epidermis</p>
            <a href="http://www.kcl.ac.uk/lsm/research/divisions/diiid/departments/immunobiology/research/hayday/index.aspx" target="_blank" style="text-decoration: none;">Adrian Hayday’s research at King’s College London</a><br/>
            <a href="http://www.london-research-institute.org.uk/research/adrian-hayday" target="_blank" style="text-decoration: none;">Adrian Hayday’s research at the London Research Institute</a>
            <p></p>
            <hr/>
            <h3 style="font-size:20px"><b>David Adams, Lead PI</b></h3>
            <h1>Wellcome Trust Sanger Institute</h1>
            <image th:src="@{/images/contact-images/wtsi_logo9a40.png}" href="..static/contact-images/wtsi_logo9a40.png" width="200" height="46" style="float: right;margin-top: -40px;"/>
            <p></p>
            <p>Flow-cytometric analysis of blood</p>
            <a href="http://www.sanger.ac.uk/people/category/faculty" target="_blank" style="text-decoration: none;">David Adams' research at the Wellcome Trust Sanger Institute</a><hr/>
            <h3 style="font-size:20px"><b>Richard Cornall</b></h3>
            <h1>Oxford University</h1>
            <image th:src="@{/images/contact-images/oxford_ndm2683.png}" href="..static/contact-images/oxford_ndm2683.png" width="200" height="46" style="float: right;margin-top: -40px;"/>
            <p></p>
            <p>Microscopic analysis of anti-nuclear antibodies in serum</p>
            <a href="https://www.ndm.ox.ac.uk/principal-investigators/researcher/richard-cornall" target="_blank" style="text-decoration:none;">Richard Cornall’s research at Oxford University</a>
            <hr/>
            <h3 style="font-size: 20px"><b>Gordon Dougan </b></h3>
            <h1>Wellcome Trust Sanger Institute</h1>
            <image th:src="@{/images/contact-images/wtsi_logo9a40.png}" href="..static/contact-images/wtsi_logo9a40.png" width="200" height="46" style="float: right;margin-top: -40px;" /><p></p>
            <p>Salmonella, influenza, DSS and Trichuris challenges</p>
            <a href="http://www.sanger.ac.uk/people/category/faculty" target="_blank" style="text-decoration: none;">Gordon Dougan’s research at the Wellcome Trust Sanger Institute</a>


        </div>


    </div>
</div>
</body>
</html>