<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/imageslider.css}" href="../static/css/imageslider.css" rel="stylesheet" type="text/css"  />
    <link th:href="@{/css/threei.css}" href="../static/css/threei.css"  rel="stylesheet" type="text/css"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title> Phenotype of the month | 3i Consortium - Wellcome Trust Sanger Institute</title>
    <link rel="icon" type="image/png" href="images/index.ico">
</head>
<body id="top" class="html front not-logged-in one-sidebar sidebar-second page-home">
<th:block th:include="fragments/header::header"> </th:block>
<div id="wrapper">

    <div id="main">
        <!--Side bar Starts-->
        <p></p>
        <p><h1 style="font-size: 30px; color:#0978A1;"><b>Phenotype of the month</b></h1></p>
        <p></p>
        <p></p>
        <p><b style="font-size: 20px; color:#0978A1;">Gimap6</b></p>
        <p></p>
        <p><h1>GTPase, IMAP family member 6</h1></p>
        <p><span><a href="http://www.mousephenotype.org/data/search?q=Gimap6#fq=*:*&facet=gene" target="_blank" >Data at IMPC</a></span></p>
        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Phenotype Summary:</b></h1></p>
        <p></p>
        <b>6 week PBL: </b>Decreased total T cell, αβ T cell and CD4 αβ T cell % females and males, Decreased NKT cell % females and males<br/>
        <b>16 week PBL: </b>Increased monocyte % female and males<br/>
        <b>16 week Spleen:  </b>Decreased NKT cell % females and males  <br/>
        <b>Salmonella Challenge: </b>Abnormal weight loss  <br/>
        <p></p>
        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Gene information:</b></h1></p>
        <ul style="list-style-type:disc">
            <li>GTPases of the immunity associated protein family (Gimaps) are a family of 8 genes that encode putative small GTPases </li>
            <li>Primarily expressed in cells of the immune system </li>
            <li>Gimap family members implicated in T and B-cell development and survival</li>
        </ul>
        <p></p>
        <p><span><a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene=GIMAP6&search=ccbb10f2eb2e5201bc2e3cdd36f5458a" target="_blank">Genecards</a> </span>&nbsp;


        </p>
        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Read more:</b></h1></p>
        <ul style="list-style-type:disc">
            <li>1. Saunders, A. et al. Putative GTPase GIMAP1 is critical for the development of mature B and T lymphocytes. Blood 115, 3249–3257 (2010)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/20194894" target="_blank">Pubmed Link</a></span></li>
            <li>2. Ciucci, T. & Bosselut, R. Gimap and T cells: A matter of life or death. Eur. J. Immunol. 44, 348–351 (2014)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/24510500" target="_blank">Pubmed Link</a></span></li>
            <li>3. Filén, S. & Lahesmaa, R. GIMAP Proteins in T-Lymphocytes. Journal of Signal Transduction 2010, 1–10 (2010)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/21637352" target="_blank">Pubmed Link</a></span></li>
            <li>4.	Yano, K. et al. Gimap3 and Gimap5 cooperate to maintain T-cell numbers in the mouse. Eur. J. Immunol. 44, 561–572 (2013)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/24510501" target="_blank">Pubmed Link</a></span></li>
        </ul>

        <p></p>
        <p></p>



    </div>
</div>

<th:block th:include="fragments/footer::footer1"> </th:block>

</body>
</html>