<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/imageslider.css}" href="../static/css/imageslider.css" rel="stylesheet" type="text/css"  />
    <link th:href="@{/css/threei.css}" href="../static/css/threei.css"  rel="stylesheet" type="text/css"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title> Glossary page</title>
</head>

<body>
<div  id="top" class="html front not-logged-in one-sidebar sidebar-second page-home">
    <th:block th:include="fragments/header::header"> </th:block>

    <div id="main" class="content">
        <div id="welcome" style="top:190px; font-size:30px" >
            <h1>Glossary </h1>
        </div><br/>

            <div class="panel_glossary">
                <i class="fa fa-list-alt"></i>
                Glossary
            </div>
                <div id="accordian1_main" style="position: absolute;top: 380px; border: 1px solid #eee; width: 65%;">
                    <button class="accordion" style="border-color: white;">3i</button>
                    <div class="panel">
                        <p>The 3i Consortium.</p>
                        <p>3i is an abbreviation for: Infection, Immunity, Immunophenotyping.</p>
                        <p>The 3i consortium members can be found on the 3i Contact Page.</p>
                    </div>

        <button class="accordion" style="border-color: white;">DETC</button>
        <div class="panel">
            <p></p>
            <p>Dendritic Epidermal T Cells (DETC) are TCRγδ-positive T cells that populate the mouse epidermis where they are in close contact with Langerhans cells (LC).</p>
        </div>

        <button class="accordion" style="border-color: white;">IKMC</button>
        <div class="panel">
            <p></p>
            <p>The International Knockout Mouse Consortium (IKMC) is a scientific endeavour to produce a collection of mouse embryonic stem cell lines that together lack every gene in the genome, and then to distribute the cells to scientific researchers to create knockout mice to study. Many of the targeted alleles are designed so that they can generate both complete and conditional gene knockout mice. For more details please visit </p>
            </div>
        <button class="accordion" style="border-color: white;">IMPC</button>
        <div class="panel">
            <p>The International Mouse Phenotyping Consortium (IMPC) is an international scientific endeavour to create and characterize the phenotype of 20,000 knockout mouse strains. Launched in September 2011,[1] the consortium consists of over 15 research institutes across four continents with funding provided by the NIH, European national governments and the partner institutions.</p>
            <p>See<a href="http://www.mousephenotype.org/">http://www.mousephenotype.org/</a></p>
        </div>

        <button class="accordion" style="border-color: white;">LC</button>
        <div class="panel">
            <p>Langerhanc cells (LC) are dendritic cells found in the skin and mucosa of mice and humans. In mice, Langerhans cells and dendritic epidermal T cells (DETC) form a network of cells in the epidermis.</p>
        </div>

        </div>


    </div>
    <footer>
        <div class="foot_content">
            <a style="text-decoration: none; color: white;" th:href="@{/}">HOME</a>
            <a style="text-decoration: none; color: white;" th:href="@{/data}">DATA</a>
            <a style="text-decoration: none; color: white;" th:href="@{/analysis}">ANALYSIS</a>
            <a style="text-decoration: none; color: white;" th:href="@{/methods}">METHODS</a>
            <a style="text-decoration: none; color: white;" th:href="@{/contact}">CONTACT</a>
            <a style="text-decoration: none; color: white;" th:href="@{/learnmore}">LEARNMORE</a>
            <div  id="foot_list"> <ul>
                <li>   <a style="text-decoration: none;color: white;" th:href="@{/faq}">FAQ</a></li>
                <li>   <a style="text-decoration: none;color: white;" th:href="@{/glossary}">Glossary</a></li>
                <li>    <a style="text-decoration: none;color:white;" th:href="@{/publications}">Publications</a> </li>
            </ul> </div>

        </div>
        <p class="textright" style="text-align: right;word-spacing: normal;">© 2017 Wellcome Trust Sanger Institute</p>
    </footer>

</div>
<script type="text/javascript">
    /*<![CDATA[*/
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {

        acc[i].onclick = function(){
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        }
    }


    /*]]>*/


</script>

</body>
</html>