<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/imageslider.css}" href="../static/css/imageslider.css" rel="stylesheet" type="text/css"  />
    <link th:href="@{/css/threei.css}" href="../static/css/threei.css"  rel="stylesheet" type="text/css"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title> Phenotype of the month | 3i Consortium - Wellcome Trust Sanger Institute</title>
    <link rel="icon" type="image/png" href="images/index.ico">
</head>


<body id="top" class="html front not-logged-in one-sidebar sidebar-second page-home">
<th:block th:include="fragments/header::header"> </th:block>

<div id="wrapper">

    <div id="main">
        <!--Side bar Starts-->

        <p></p>
        <p><h1 style="font-size: 30px; color:#0978A1;"><b>Gmds</b></h1></p>
        <p></p>
        <p></p>
        <p><b style="font-size: 20px; color:#0978A1;">GDP mannose 4,6-dehydratase</b></p>
        <p></p>
        <p><h1>Basic, immunoglobulin-like variable motif containing</h1></p>
        <p><span><a href="http://www.mousephenotype.org/data/search/gene?kw=Bivm" target="_blank" >Mice at IMPC</a></span></p>
        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Phenotype Summary:</b></h1></p>
        <p></p>
        <b>Ear epidermis: </b>decreased count of Vγ5+ dendritic epidermal T cells (DETC), presence of CD45+ Vγ5- MHC II- replacement cells in the epidermis<br/>
        <b>Antinuclear antibodies:  </b> Increased level of antinuclear antibodies in serum<br/>
        <b>Mesenteric Lymph Node - </b>Increased effector γδ cells and KLRG1+ CD8 αβ T cells <br/>
        <b>DSS colitis:  </b> Decreased suspectibility to induced colitis: reduced average histology score<br/>
        <b>Body composition (DEXA): </b> Decreased bone mineral density in females<br/>
        <p></p>
        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Gene information:</b></h1></p>
        <ul style="list-style-type:disc">
            <li>possesses no sequence similarity with any described protein, making the prediction of a function challenging</li>
            <li>a CpG island at the 5' end and the wide tissue distribution may suggest a function as housekeeping gene</li>

        </ul>
        <p></p>
        <p><span><a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene=bivm">Genecards</a> </span>&nbsp;
            <span><a href="http://www.informatics.jax.org/marker/MGI:2179809" target="_blank">MGI</a></span>&nbsp;
        </p>
        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Read more:</b></h1></p>
        <ul style="list-style-type:disc">
            <li>Yoder, J.A. et al. BIVM, a novel gene widely distributed among deuterostomes, shares a core sequence with an unusual gene in Giardia lamblia. Genomics 79, 750-5 (2002)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/12036287" target="_blank">Pubmed Link</a></span></li>
        </ul>

        <p></p>
        <p></p>



    </div>
</div>

<th:block th:include="fragments/footer::footer1"> </th:block>

</body>
</html>






