<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/imageslider.css}" href="../static/css/imageslider.css" rel="stylesheet" type="text/css"  />
    <link th:href="@{/css/threei.css}" href="../static/css/threei.css"  rel="stylesheet" type="text/css"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link th:href="@{/css/acknowledgements.css}" href="../static/css/acknowledgements.css"  rel="stylesheet" type="text/css"  />
    <title> Image acknowledgements | 3i Consortium - Wellcome Trust Sanger Institute</title>
    <link rel="icon" type="image/png" href="images/index.ico">
</head>

<body>
<div  id="top" class="html front not-logged-in one-sidebar sidebar-second page-home">
    <th:block th:include="fragments/header::header"> </th:block>
    <th:block th:include="fragments/slideshow::slideshow"></th:block>
    <div id="main" class="content">

        <div id="welcome"  >
            <h1>Image acknowledgements </h1>
        </div><br/>
        <p></p>
        <div id="region region-content" style="width:68%; float:left; ">
            <div class="intro"><h2 style=" font-size:25px ">We would like to acknowledge the images used within this website. </h2> </div>
            <table width="500px" height="100%" border="1">
                <tr>
                    <td align="center" valign="center" style="font-size: small">
                        <img th:src="@{/images/Image-acknowledgements-images/Macrophageinfected1639E47-ack.jpg}" href="..static/images/Image-acknowledgements-imagess/Macrophageinfected1639E47-ack.jpg"  alt=" This is the first image" width="200" height="200" /><br/>
                        False-coloured transmission electron micrograph of a macrophage infected with Salmonella typhimurium (purple)<br/>
                        Credit: David Goulding, Wellcome Trust Sanger Institute
                    </td>

                    <td align="center" valign="center" style="font-size: small">
                        <img th:src="@{/images/Image-acknowledgements-images/Salmonella-ack.jpg}" href="..static/images/Image-acknowledgements-images/Salmonella-ack.jpg"  width="200" height="200" /><br/>
                        False-coloured transmission electron micrograph of Salmonella typhimurium<br/>
                        Credit: David Goulding, Wellcome Trust Sanger Institute, Wellcome images
                    </td>

                </tr>

                   <tr>
                    <td align="center" valign="center" style="font-size: small">
                        <img th:src="@{/images/Image-acknowledgements-images/CD8cellattackingatumourcell-ack.jpg}" href="..static/images/Image-acknowledgements-imagess/CD8cellattackingatumourcell-ack.jpg"   width="200" height="200" /><br/>
                        Confocal micrograph of a killer T-cellattacking a tumour cell.<br/>
                        Credit: Alex Ritter, University of Cambridge,Wellcome Images
                    </td>

                    <td align="center" valign="center" style="font-size: small">
                        <img th:src="@{/images/Image-acknowledgements-images/Diffcount5-ack.jpg}" href="..static/images/Image-acknowledgements-images/Diffcount5-ack.jpg"  width="200" height="200" /><br/>
                        Micrograph of cells recovered from the lung of influenza-infected mice.<br/>
                        Credit: Jua Iwasaki, Imperial College London
                    </td>
                   </tr>

                <tr>

                <td align="center" valign="center" style="font-size: small">
                    <img th:src="@{/images/Image-acknowledgements-images/GutL3_lowvac_0040small-ack.jpg}" href="..static/images/Image-acknowledgements-imagess/Gut+L3_lowvac_0040small-ack.jpg"   width="200" height="200" /><br/>
                    Scanning electron micrograph of larval Trichuris muris nematodes invading intestinal epithelium.<br/>
                    Credit: Richard Grencis, Manchester University
                </td>

                <td align="center" valign="center" style="font-size: small">
                    <img th:src="@{/images/Image-acknowledgements-images/DendriticepidermalTcells-ack.jpg}" href="..static/images/Image-acknowledgements-images/DendriticepidermalTcells-ack.jpg"  width="200" height="200" /><br/>
                    Dendritic epidermal T cells (purple) and Langerhans cells (blue) in ear skin.<br/>
                    Credit: Dmitry Ushakov, King’s College London
                </td>
                </tr>

                <tr>

                    <td align="center" valign="center" style="font-size: small">
                        <img th:src="@{/images/Image-acknowledgements-images/goodgutsmall-ack.jpg}" href="..static/images/Image-acknowledgements-imagess/goodgutsmall-ack.jpg"   width="200" height="200" /><br/>
                        Cross-section of adult Trichuris muris nematodes in the epithelium of the large intestine.<br/>
                        Credit: Richard Grencis, Manchester University
                    </td>

                    <td align="center" valign="center" style="font-size: small">
                        <img th:src="@{/images/Image-acknowledgements-images/HeLacellsstainedwithserum-ack.jpg}" href="..static/images/Image-acknowledgements-images/HeLacellsstainedwithserum-ack.jpg"  width="200" height="200" /><br/>
                        HEp-2 cells stained with serum from Cxcr2 ko mice containing antinuclear antibodies. <br/>
                        Credit: Matthew Edmans, Oxford University
                    </td>
                </tr>

                <tr>

                    <td align="center" valign="center" style="font-size: small">
                        <img th:src="@{/images/Image-acknowledgements-images/Lymphocyteanderythrocytes2-ack.jpg}" href="..static/images/Lymphocyteanderythrocytes2-ack.jpg"   width="200" height="200" /><br/>
                        Colour-enhanced transmission electron micrograph of a lymphocyte surrounded by red blood cells.<br/>
                        Credit: University of Edinburgh, Wellcome Images
                    </td>

                    <td align="center" valign="center" style="font-size: small">
                        <img th:src="@{/images/Image-acknowledgements-images/Neutrophil-ack.jpg}" href="..static/images/Image-acknowledgements-images/Neutrophil-ack.jpg"  width="200" height="200" /><br/>
                        Colour-enhanced transmission electron micrograph of a neutrophil.<br/>
                        Credit: University of Edinburgh, Wellcome Images
                    </td>
                </tr>


                <tr>

                    <td align="center" valign="center" style="font-size: small">
                        <img th:src="@{/images/Image-acknowledgements-images/Influenzainrespiratorytract-ack.jpg}" href="..static/images/Influenzainrespiratorytract-ack.jpg"   width="200" height="200" /><br/>
                        Transmission electron micrograph of influenza viruses (blue) attaching to  cells of the upper respiratory tract. <br/>
                        Credit: R. Dourmashkin, Wellcome Images
                    </td>

                    <td align="center" valign="center" style="font-size: small">
                        <img th:src="@{/images/Image-acknowledgements-images/FACSPlot-ack.jpg}" href="..static/images/Image-acknowledgements-images/FACSPlot-ack.jpg"  width="200" height="100" /><br/><br/><br/><br/><br/><br/>
                        Flow-cytometry dot plot depicting the separation of eosinophils (blue) and neutrophils (orange). <br/>
                        Credit: Adam Laing, King’s College London
                    </td>
                </tr>
               <br/>
<br/><br/>

            </table>
        </div>
    </div>
</div>

<th:block   th:include="fragments/footer::footer1" > </th:block>
  <!--  <footerack>
        <div class="centercontent">
        <div class="foot_content" >
            <a style="text-decoration: none; color: white;" th:href="@{/}">HOME</a>
            <a style="text-decoration: none; color: white;" th:href="@{/data}">DATA</a>
            <a style="text-decoration: none; color: white;" th:href="@{/analysis}">ANALYSIS</a>
            <a style="text-decoration: none; color: white;" th:href="@{/methods}">METHODS</a>
            <a style="text-decoration: none; color: white;" th:href="@{/contact}">CONTACT</a>
            <a style="text-decoration: none; color: white;" th:href="@{/learnmore}">LEARNMORE</a>
            <div  id="foot_list"> <ul>
                <li>   <a style="text-decoration: none;color: white;" th:href="@{/faq}">FAQ</a></li>
                <li>   <a style="text-decoration: none;color: white;" th:href="@{/glossary}">Glossary</a></li>
                <li>    <a style="text-decoration: none;color:white;" th:href="@{/publications}">Publications</a> </li>

            </ul> </div>

        </div>
            <p class="textright" style="text-align: right;word-spacing: normal;font-size:12px">Software v0.0.6<br/>
                © 2018 Wellcome Trust Sanger Institute</p>
        </div>
    </footerack>
    </footerack>  -->


</body>
</html>