<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The three i home page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/imageslider.css}" href="../static/css/imageslider.css" rel="stylesheet" type="text/css"  />
    <link th:href="@{/css/threei.css}" href="../static/css/threei.css"  rel="stylesheet" type="text/css"  />


</head>

<body id="top" class="html front not-logged-in one-sidebar sidebar-second page-home">


<div id="wrapper">
    <header id="header">
        <div class="region region-header">
            <div id="tn"></div>
            <div id="logo">
                <a href="/"><img src="images/impc.png" alt="IMPC Logo"/></a>
                <!-- <div id="logoslogan">3i</div>  -->
            </div>
            <nav id="mn">  <div class="region region-mainnavi">
                <div id="block-system-main-menu" class="block block-system block-menu">

                    <div class="content"><ul class="menu"><li class="first leaf"><a href="/" title="" class="active">HOME</a></li>
                        <li class="leaf"><a href="/data/heatmap" data-hasqtip="38" oldtitle="Data Search and Heatmap" title="">DATA</a></li>
                        <li class="leaf"><a href="/analysis">ANALYSIS</a></li>
                        <li class="leaf"><a href="/methods">METHODS</a></li>
                        <li class="leaf"><a href="/contact">CONTACT</a></li>
                        <li class="last expanded"><a href="/learn-more">LEARN MORE</a><ul class="menu"><li class="first leaf"><a href="/faq">FAQ</a></li>
                            <li class="leaf"><a href="/glossary">Glossary</a></li>
                            <li class="last leaf"><a href="/publications">Publications</a></li>
                        </ul></li>
                    </ul><div class="clear"></div></div>
                </div>
            </div>
            </nav>
            <div class="clear"></div>
        </div>
    </header>
    <!--End of Header-->
    <!--Main Starts-->
    <div id="main">
        <!--Side bar Starts-->
        <aside id="sidebar">
            <div class="region region-sidebar-second">
                <div id="block-views-phenotype-of-the-month-block-1" class="block block-views">
                    <div class="head">Phenotype of the Month</div>
                    <div class="content">
                        <div class="view view-phenotype-of-the-month view-id-phenotype_of_the_month view-display-id-block_1 view-dom-id-aea57fa4b3e8167014066f06dcf76299">
                            <div class="view-content">
                                <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                                    <div class="views-field views-field-php">
                                        <span class="field-content"><p><a name="phenotype-of-the-month-view" href="/phenotype-of-the-month" class="simple-dialog simpleDialogProcessed" style="font-size: 1.5em;" rel="width:680;position:[center,160];" data-hasqtip="68" oldtitle="Phenotype of the Month" title="">Cxcr2</a></p></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="block-block-23" class="block block-block">
                    <div class="content">
                        <div id="block-heatmap-stats">
                            <div id="block-heatmap-stats-KO">
                                <div class="head">KO lines analysed</div>
                                <div class="content">404</div>
                            </div>
                            <div id="block-heatmap-stats-phenotypes">
                                <div class="head">Phenotypes identified</div>
                                <div class="content">280</div>
                            </div>
                        </div>
                        <div class="clear"></div></div>
                </div>
                <div id="block-views-news-page-block" class="block block-views">
                    <div class="head">News &amp; Events</div>
                    <div class="content">
                        <div class="view view-news-page view-id-news_page view-display-id-block view-dom-id-c6d3688884db7f2f5f7c89eafd4581e2">
                            <div class="view-content">
                                <div class="views-row views-row-1 views-row-odd views-row-first">
                                    <div class="views-field views-field-title">
							<span class="field-content">
								<a href="/content/3i-consortium-meeting">3i consortium meeting</a>
							</span>
                                    </div>
                                    <div class="views-field views-field-body">
                                        <div class="field-content">
                                            <p>London<br></br>27 November 2017<br></br>10.30 am to 4 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="views-row views-row-2 views-row-even views-row-last">
                                    <div class="views-field views-field-title">
							<span class="field-content">
								<a href="/content/wgc-advanced-course-immunophenotyping">WGC Advanced Course Immunophenotyping</a>
							</span>
                                    </div>
                                    <div class="views-field views-field-body">
                                        <div class="field-content">
                                            <p>18-24 February 2018&nbsp; - <a href="https://coursesandconferences.wellcomegenomecampus.org/events/item.aspx?e=679">apply now</a><br></br></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="block-block-15" class="block block-block">
                    <div class="content">
                        <h4>Learn more about the images in the slideshow</h4>
                        <p><a href="/image-acknowledgements" class="btn"><i class="fa" style="font-size:9px;position:relative;bottom:2px;" >&#xf04b;</i>Image acknowledgements</a></p>
                        <div class="clear"></div></div>
                </div>
                <div id="block-block-2" class="block block-block">
                    <div class="content">
                        <p><a href="http://www.wellcome.ac.uk/" target="_blank">

                            <img th:src="@{/images/slider/wt_logo.png}" href="../static/images/slider/wt_logo.png" width="300" height="39"/></a><br></br><a href="https://www.immunology.org/" target="_blank"></a>
                            <img th:src="@{/images/slider/bsi_logo-250x52.png}"
                                 href="../static/images/slider/bsi_logo-250x52.png" target="blank"  width="250" height="52"/><br></br>

                            <img th:src="@{/images/slider/impc_logo-150x50.png}" href="../static/images/slider/impc_logo-150x50.png" width="150" height="50"/></p>


                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </aside>
        <!--Side bar Ends-->
        <!--Left Main Starts-->
        <div id="region region-content" style="width:68%; float:left;">
            <div id="block-block-3" class="block block-block">
                <div class="content"><div style="width: 100%; text-align: center; padding-bottom: 20px;">
                    <div style="width: 500px; margin: auto;">
                        <form id="home-search-form" action="/data/heatmap" method="get">
                            <input id="home-search-box" name="gene" style="width: 300px;" type="text" placeholder="Search by gene or phenotype..."/>
                            <input id="home-search-submit" class="btn" style="width: 200px;" type="submit" value="Advanced Search"/>
                        </form>
                    </div>
                </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="welcome">
                <h1>Welcome to <span style="color:#0978a1;">3i</span></h1>
            </div>
            <div class="slideshow-container">

                <div class="mySlides fade">
                    <img th:src="@{/images/slider/ANA746a.jpg}" href="../static/images/slider/ANA746a.jpg"  style="width:100%"  />
                </div>
                <div class="mySlides fade">
                    <img th:src="@{/images/slider/CD8cellattacking745.jpg}" href="../static/images/slider/CD8cellattacking.jpg"  style="width:100%"  />
                </div>
                <div class="mySlides fade">
                    <img th:src="@{/images/slider/Diff count 5b10e.jpg}"
                         href="../static/images/slider/Diff count 5b10e.jpg" style="width:100%" />
                </div>
                <div class="mySlides fade">
                    <img th:src="@{/images/slider/Ear epidermis resized_0ba5a.png}"
                         href="../static/images/slider/Ear epidermis resized_0ba5a.png" style="width:100%" />
                </div>
                <div class="mySlides fade">
                    <img th:src="@{/images/slider/FACS Plot resized7d67.png}"
                         href="../static/images/slider/FACS Plot resized7d67.png" style="width:100%" />
                </div>
                <div class="mySlides fade">
                    <img th:src="@{/images/slider/Gut+L3_lowvac_0040 small0a9d.jpg}"
                         href="../static/images/slider/Gut+L3_lowvac_0040 small0a9d.jpg" style="width:100%" />
                </div>
                <div class="mySlides fade">
                    <img th:src="@{/images/slider/Influenza in respiratory tract - resized2369.jpg}"
                         href="../static/images/slider/Influenza in respiratory tract - resized2369.jpg" style="width:100%" />
                </div>
                <div class="mySlides fade">
                    <img th:src="@{/images/slider/Macrophage infected1639E47 - resized074c.jpg}"
                         href="../static/images/slider/Macrophage infected1639E47 - resized074c.jpg" style="width:100%" />
                </div>
                <div class="mySlides fade">
                    <img th:src="@{/images/slider/Neutrophil - resizedda33.jpg}"
                         href="../static/images/slider/Neutrophil - resizedda33.jpg" style="width:100%" />
                </div>
                <div class="mySlides fade">
                    <img th:src="@{/images/slider/Salmonella - resized145f.jpg}"
                         href="../static/images/slider/Salmonella - resized145f.jpg" style="width:100%" />
                </div>
            </div>
            <br/>
            <article>
                <h1><div class="intro">The 3i project is building an encyclopaedia of immunological gene functions to advance basic and translational research.</div></h1>
            <p>The Infection and Immunity Immunophenotyping (3i) consortium conducts a high-throughput immunological phenotyping of approximately 550 knockout mouse lines generated by the Wellcome Trust Sanger Institute (WTSI). Funded by the Wellcome Trust and led by King's College London, the consortium includes partners from WTSI, Imperial College, Albert Einstein College of Medicine, and the Universities of Oxford, Cambridge, and Manchester.</p>
                <p>The phenotyping has two components, an observational screen and a challenge screen. In the observational screen, the immune cell compartments of different organs are analysed in order to identify genes regulating the immune system at steady state. The challenge screen looks at responses to chemical stress and to viral, bacterial and parasitic infections that collectively mimic major aspects of human exposure to the environment.</p>
                <p>In addition to the 3i screen, the mice undergo a number of tests in the WTSI pipeline, ranging from tests assessing fertility, anatomical abnormalities, senses, behaviour, and metabolic parameters. The mice are sacrificed at 16 weeks of age and many more tests are performed upon necropsy. A comprehensive overview of tests and all results can be found on the IMPC website. Furthermore, 3i has two sister strategic awards, OBCD and DMDD, that look at bone and cartilage and embryonic development, respectively.</p>
                <p>The 3i consortium aims to actively engage the scientific community. Please do not hesitate to leave a comment on the site or email us with ideas and suggestions.</p>
            </article>
        </div>
        <!--Left Main Ends-->
    </div>
    <!--Main Ends-->

    <footer><div class="content">
        <a style="text-decoration: none" href="#">HOME</a>
        <a style="text-decoration: none" href="#">DATA</a>
        <a style="text-decoration: none" href="#">ANALYSIS</a>
        <a style="text-decoration: none" href="#">METHODS</a>
        <a style="text-decoration: none" href="#">CONTACT</a>
        <a style="text-decoration: none" href="#">LEARNMORE</a>
    </div>
    </footer>

</div>

<script type="text/javascript">
    /*<![CDATA[*/
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        slides[slideIndex-1].style.display = "block";
        setTimeout(showSlides, 5000); // Change image every 2 seconds
    }
    /*]]>*/
</script>
</body>
</html>