<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/imageslider.css}" href="../static/css/imageslider.css" rel="stylesheet" type="text/css"  />
    <link th:href="@{/css/threei.css}" href="../static/css/threei.css"  rel="stylesheet" type="text/css"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title> Phenotype of the month Page</title>
</head>


<body id="top" class="html front not-logged-in one-sidebar sidebar-second page-home">


<div id="wrapper">
    <header id="header">
        <div class="region region-header">
            <div id="tn"></div>
            <div id="logo">
                <a href="/"><img src="images/impc.png" alt="IMPC Logo"/></a>
                <!-- <div id="logoslogan">3i</div>  -->
            </div>
            <nav id="mn">  <div class="region region-mainnavi">
                <div id="block-system-main-menu" class="block block-system block-menu">

                    <div class="content">
                        <ul class="menu"><li class="first leaf"><a href="/" title="" class="active">HOME</a></li>
                            <li class="leaf"><a href="/data/heatmap" data-hasqtip="38" oldtitle="Data Search and Heatmap" title="">DATA</a></li>
                            <li class="leaf"><a href="/analysis">ANALYSIS</a></li>
                            <li class="leaf"><a href="/methods">METHODS</a></li>
                            <li class="leaf"><a href="/contact">CONTACT</a></li>
                            <li class="last expanded"><a href="/learn-more">LEARN MORE</a><ul class="menu"><li class="first leaf"><a href="/faq">FAQ</a></li>
                                <li class="leaf"><a href="/glossary">Glossary</a></li>
                                <li class="last leaf"><a href="/publications">Publications</a></li>
                            </ul></li>
                        </ul><div class="clear"></div></div>
                </div>
            </div>
            </nav>
            <div class="clear"></div>
        </div>
    </header>
    <div id="main">
        <!--Side bar Starts-->

        <p></p>
        <p><h1 style="font-size: 30px; color:#0978A1;"><b>Phenotype of the month</b></h1></p>
        <p></p>
        <p></p>
        <p><b style="font-size: 20px; color:#0978A1;">Cxcr2</b></p>
        <p></p>
        <p><h1>C-X-C chemokine receptor 2</h1></p>
        <p><span><a href="http://www.mousephenotype.org/data/genes/MGI:105303#section-associations" target="_blank" >Data at IMPC</a></span></p>
        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Phenotype Summary:</b></h1></p>
        <p></p>
        <b>PBL terminal - </b>increased CD4 αβ effector T cells in males and females, increased CD8 αβ effector T cells in males, increased γδ T cells in males and females, decreased B cells in females, increased neutrophils in females and monocytes in females and males; no difference in heterozygous mice<br/>
        <b>Spleen - </b>Decreased total CD8 αβ T-cells, increased effector CD4 αβ T-cells, effector CD4+ NKT cells and effector γδ T cells, decreased resting T/NK cell subsets (γδ T cells, CD4 αβ T-cells, CD8 αβ T-cells, NK cells), increased CD103+ CD11blow conventional Dendritic cells, increased eosinophils<br/>
        <b>Mesenteric Lymph Node - </b>Increased effector γδ cells and KLRG1+ CD8 αβ T cells <br/>
        <b>Bone Marrow - </b> Increased Granulocyte precursors, decreased T cells, decreased B cell lineage populations (total B cell precursors, Immature B cells (hardy fraction E), Mature B cells (hardy fraction F), Pre-b cells (hardy fraction D), Pre-pro B cells (hardy fraction A))<br/>
        <b>Plasma Chemistry - </b> Decreased glucose and increased creatinine in heterozygous females; decreased total protein in homozygous males and females<br/>
        <b>Anti-nuclear antibody assay - </b>Increased anti-nuclear antibodies in serum<br/>
        <b>Salmonella Challenge -</b> Increased weight loss and bacterial count in liver and ceacal contents<br/>
        <p></p>
        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Gene information:</b></h1></p>
        <ul style="list-style-type:disc">
        <li>G-protein coupled receptor, mostly known as Interleukin-8 receptor type 2</li>
        <li>involved in immune cell migration</li>
        <li>expressed at high levels on circulating neutrophils</li>
        <li>involved in senescence, cancer and diseases caused by activated neutrophils</li>
        </ul>
        <p></p>
        <p><span><a href="http://www.genecards.org" target="_blank">Genecards</a> </span>&nbsp;
            <span><a href="http://www.informatics.jax.org" target="_blank">MGI</a></span>&nbsp;
            <span><a href="http://www.omim.org" target="_blank">OMIM</a></span>&nbsp;

        </p>
        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Read more:</b></h1></p>
        <ul style="list-style-type:disc">
            <li>Wu, D. et al. Characterization of two high affinity human interleukin-8 receptors. Science. 261, 101-3 (1993)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/8316840" target="_blank">Pubmed Link</a></span></li>
            <li>Del Rio, L. et al. CXCR2 deficiency confers impaired neutrophil recruitment and increased susceptibility during Toxoplasma gondii infection.J Immunol. 167,6503-9 (2001)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/11714818" target="_blank">Pubmed Link</a></span></li><li>Del Rio, L. et al. CXCR2 deficiency confers impaired neutrophil recruitment and increased susceptibility during Toxoplasma gondii infection.J Immunol. 167,6503-9 (2001)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/11714818" target="_blank">Pubmed Link</a></span></li>
            <li> Acosta, JC. et al. Chemokine signaling via the CXCR2 receptor reinforces senescence. Cell 2133, 1006-18 (2008)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/18555777" target="_blank">Pubmed Link</a></span></li>
            <li> Jamieson, T. et al. Inhibition of CXCR2 profoundly suppresses inflammation-driven and sponaneous tumorigensis. J Clin Invest. 122, 3127-44 (2012)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/22922255" target="_blank">Pubmed Link</a></span></li>
        </ul>

<p></p>
<p></p>



</div>
</div>

<th:block th:include="fragments/footer::footer1"> </th:block>

</body>
</html>