<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/imageslider.css}" href="../static/css/imageslider.css" rel="stylesheet" type="text/css"  />
    <link th:href="@{/css/threei.css}" href="../static/css/threei.css"  rel="stylesheet" type="text/css"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title> 3i Consortium Meeting Page</title>
</head>


<body id="top" class="html front not-logged-in one-sidebar sidebar-second page-home">


<div id="wrapper">
    <header id="header">
        <div class="region region-header">
            <div id="tn"></div>
            <div id="logo">
                <a href="/"><img src="images/impc.png" alt="IMPC Logo"/></a>
                <!-- <div id="logoslogan">3i</div>  -->
            </div>
            <nav id="mn">  <div class="region region-mainnavi">
                <div id="block-system-main-menu" class="block block-system block-menu">

                    <div class="content">
                        <ul class="menu"><li class="first leaf"><a href="/" title="" class="active">HOME</a></li>
                            <li class="leaf"><a href="/data/heatmap" data-hasqtip="38" oldtitle="Data Search and Heatmap" title="">DATA</a></li>
                            <li class="leaf"><a href="/analysis">ANALYSIS</a></li>
                            <li class="leaf"><a href="/methods">METHODS</a></li>
                            <li class="leaf"><a href="/contact">CONTACT</a></li>
                            <li class="last expanded"><a href="/learn-more">LEARN MORE</a><ul class="menu"><li class="first leaf"><a href="/faq">FAQ</a></li>
                                <li class="leaf"><a href="/glossary">Glossary</a></li>
                                <li class="last leaf"><a href="/publications">Publications</a></li>
                            </ul></li>
                        </ul><div class="clear"></div></div>
                </div>
            </div>
            </nav>
            <div class="clear"></div>
        </div>
    </header>
    <div id="main">
        <!--Side bar Starts-->
        <aside id="sidebar">
            <div class="region region-sidebar-second">
                <div id="block-views-phenotype-of-the-month-block-1" class="block block-views">
                    <div class="head">Phenotype of the Month</div>
                    <div class="content">
                        <div class="view view-phenotype-of-the-month view-id-phenotype_of_the_month view-display-id-block_1 view-dom-id-aea57fa4b3e8167014066f06dcf76299">
                            <div class="view-content">
                                <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                                    <div class="views-field views-field-php">
                                        <span class="field-content"><p><a name="phenotype-of-the-month-view" href="/phenotype-of-the-month" class="simple-dialog simpleDialogProcessed" style="font-size: 1.5em;" rel="width:680;position:[center,160];" data-hasqtip="68" oldtitle="Phenotype of the Month" title="">Cxcr2</a></p></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </aside>
        <p></p>
        <p><h1 style="font-size: 30px;"><b>3i consortium meeting</b></h1></p>
        <p></p>
        <p>WGC Advanced Course Immunophenotyping<br/>
            18-24 February 2018  -<br/>
            <aside><a href="https://coursesandconferences.wellcomegenomecampus.org/events/item.aspx?e=679" target="_blank">
                apply now
            </a></aside></p>
        <p></p>
        <p></p>
        <p>Generation and Analysis of Immunological Datasets<br/>
            Wellcome Genome Campus, Hinxton, Cambridgeshire, UK<br/>
            The application deadline: 10 November 2017
        </p>
    </div>
</div>



</body>
</html>