<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/imageslider.css}" href="../static/css/imageslider.css" rel="stylesheet" type="text/css"  />
    <link th:href="@{/css/threei.css}" href="../static/css/threei.css"  rel="stylesheet" type="text/css"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title> Phenotype of the month | 3i Consortium - Wellcome Trust Sanger Institute</title>
    <link rel="icon" type="image/png" href="images/index.ico">
</head>


<body id="top" class="html front not-logged-in one-sidebar sidebar-second page-home">


<div id="wrapper">
    <header id="header">
        <div class="region region-header">
            <div id="tn"></div>
            <div id="logo">
                <a href="/"><img src="images/impc.png" alt="IMPC Logo"/></a>
                <!-- <div id="logoslogan">3i</div>  -->
            </div>
            <nav id="mn">  <div class="region region-mainnavi">
                <div id="block-system-main-menu" class="block block-system block-menu">

                    <div class="content">
                        <ul class="menu"><li class="first leaf"><a href="/" title="" class="active">HOME</a></li>
                            <li class="leaf"><a href="/data/heatmap" data-hasqtip="38" oldtitle="Data Search and Heatmap" title="">DATA</a></li>
                            <li class="leaf"><a href="/analysis">ANALYSIS</a></li>
                            <li class="leaf"><a href="/methods">METHODS</a></li>
                            <li class="leaf"><a href="/contact">CONTACT</a></li>
                            <li class="last expanded"><a href="/learn-more">LEARN MORE</a><ul class="menu"><li class="first leaf"><a href="/faq">FAQ</a></li>
                                <li class="leaf"><a href="/glossary">Glossary</a></li>
                                <li class="last leaf"><a href="/publications">Publications</a></li>
                            </ul></li>
                        </ul><div class="clear"></div></div>
                </div>
            </div>
            </nav>
            <div class="clear"></div>
        </div>
    </header>
    <div id="main">
        <!--Side bar Starts-->

        <p></p>
        <p><h1 style="font-size: 30px; color:#0978A1;"><b>Phenotype of the month</b></h1></p>
        <p></p>
        <p></p>
        <p><b style="font-size: 20px; color:#0978A1;">setd5</b></p>
        <p></p>
        <p><h1>SET domain containing 5</h1></p>
        <p><span><a href="http://www.mousephenotype.org/data/genes/MGI:1920145#section-associations" target="_blank" >MICE at IMPC</a></span></p>
        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Phenotype Summary(Heterozygots):</b></h1></p>
        <p></p>
        <b>Recessive Lethality: </b>No homozygous embros detecetd at E14.5 (n=32)<br/>
        <b>Heterozygous viability: </b>Heterozygous x wild type breeding pairs generated wild type and heterozygous offspring at a ratio of 7:3 (n=425)<br/>
        <b>16 week PBL: </b>increased percentage of Treg cells in females, increased percenage of monocytes in females<br/>
        <b>DSS colitis: </b>Increased weight loss<br/>
        <b>Weight curve: </b>Males have reduced weight<br/>
        <b>Dysmorpholgy: </b>Abnormal hair colour and hair pattern in females, abnormal snout morphology in males and females, abnormal snout size in males<br/>
        <b>Micronuclei: </b>Increased genomic instablility as detected by the increased presence of micronuclei<br/>
        <p></p>
        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Gene information:</b></h1></p>
        <ul style="list-style-type:disc">
            <li>•	Predicted to encode a methyltransferase</li>
            <li>•	Encoded on chromosome 3 in humans, in a region (3p25) associated with intellectual disability</li>
            <li>•	One of the genes often lost in 3p25 microdeletion syndrome</li>
            <li>•	Loss of function mutations lead to autosomal dominant mental retardation (MRD23)</li>
        </ul>
        <p></p>
        <p><span><a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene=SETD5&keywords=setd5" target="_blank">Genecards</a> </span>&nbsp;
            <span><a href="http://www.informatics.jax.org/marker/MGI:1920145" target="_blank">MGI</a></span>&nbsp;
            <span><a href="http://www.omim.org/search/?index=entry&sort=score+desc%2C+prefix_sort+desc&start=1&limit=10&search=setd5" target="_blank">OMIM</a></span>&nbsp;

        </p>
        <p></p>
        <p></p>
        <p><h1 style="font-size: 20px;"><b>Read more:</b></h1></p>
        <ul style="list-style-type:disc">
            <li>1.	Kellogg, G. et al. Deletion of 3p25.3 in a patient with intellectual disability and dysmorphic features with further definition of a critical region. Am J Med Genet 161A, 1405-8 (2013)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/23613140" target="_blank">Pubmed Link</a></span></li>
            <li>2.	Grozeva, D. et al. De novo loss-of-function mutations in SETD5, encoding a methyltransferase in a 3p25 microdeletion syndrome critical region, cause intellectual disability. Am J Hum Genet 94, 618-24 (2014)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/24680889" target="_blank">Pubmed Link</a></span></li><li>Del Rio, L. et al. CXCR2 deficiency confers impaired neutrophil recruitment and increased susceptibility during Toxoplasma gondii infection.J Immunol. 167,6503-9 (2001)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/11714818" target="_blank">Pubmed Link</a></span></li>
            <li>3.	Kuechler A. et al. Loss-of-function variants of SETD5 cause intellectual disability and the core phenotype of microdeletion 3p25.3 syndrome. Eur J Hum Genet 23, 753-60 (2015)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/25138099" target="_blank">Pubmed Link</a></span></li>
            <li>4.	OMIM entry on autosomal dominant mental retardation-23 (MRD23)<br/><span><a href="http://www.omim.org/entry/615761?search=setd5&highlight=setd5" target="_blank">OMIM LINK</a></span></li>
        </ul>

        <p></p>
        <p></p>



    </div>
</div>

<th:block th:include="fragments/footer::footer1"> </th:block>

</body>
</html>