<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
Status OK:<span th:text="| ${ok}|">Not OK</span><br/>

<p><b>Cache</b> <span th:text="|hits: ${hits}, misses ${misses}, ratio ${ratio}|"></span> <a href="clearCache">clear</a></p>

<p>Cores Services Statuses:</p>
<ol th:each="status: ${webStatusModels}">
	<li th:text="${status.name}+' ' +${status.number}">
	</li>
    <!-- <c:forEach var="status" items="${webStatusModels}"> -->
        <!-- <li<c:if test="${status.number==0}"> style="color:red;"</c:if>>${status.name} : ${status.number}</li> -->
    <!-- </c:forEach> -->
</ol>

<!-- <p>Non Essential Statuses:</p>
<ol>
    <c:forEach var="status" items="${nonEssentialWebStatusModels}">
        <li<c:if test="${status.number==0}"> style="color:red;"</c:if>>${status.name} : ${status.number}</li>
    </c:forEach>
</ol>
 -->

</body>
</html>
